.btn {
	border-radius: 0;
}

.btn-success {
	background-color: #7bb9fa;
	font-variant: small-caps;
	border-color: #7bb9fa;

	&:hover, &:focus, &:active, &.active {
		background-color: #6799ce;
		border-color: #6799ce;
	}
}

.btn-success:active:focus {
	background-color: #6799ce;
	border-color: #6799ce;
}