.btn {
	border-radius: 0;
	text-transform: uppercase;
	font-size: 16px;
}

.btn-success {
	background-color: $logo-accent;
	border-color: $logo-accent;

	&:hover, &:focus, &:active, &.active {
		background-color: $logo-accent-active;
		border-color: $logo-accent-active;
	}
}

.btn-success:active:focus {
	background-color: $logo-accent-active;
	border-color: $logo-accent-active;
}

.btn-fixed {
	width: 31%;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.btn-stylist {
	max-width: 250px;
	margin: 0 auto;
}