.accent-div {
	background-color: $accent;
	padding: 30px 0;
}

.padded-div {
	margin-bottom: 60px;
}

.padded-panel {
	margin-top: 25px;
	margin-bottom: 35px;
}

.center-block {
	float: none;
}

.img-responsive {
    margin: 0 auto;
}