.accent-div {
	background-color: $accent;
	padding: 30px 0;
}

.padded-div {
	margin-bottom: 60px;
}

.spacer {
	margin-bottom: 20px;
}

.padded-panel {
	margin-top: 25px;
	margin-bottom: 35px;
}

.center-block {
	float: none;
}

.img-responsive {
    margin: 0 auto;
}

.bordered-div {
	border: 1px solid #ddd;
	padding: 8px;
}

.breadcrumb > li + li:before {
    content: "/\00a0";
    color: $breadcrumb-color;
}

.breadcrumb {
	a {
		color: #333;
    	text-decoration: none;
    	&:hover {
    		color: $logo-accent-active;
    	}
    }
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: url("../../icons/back-to-top.png") no-repeat center 43%;
}

.panel-division {
	margin-top: 30px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:focus {
	    outline:none;
	}
}