.home-history {
	background-color: $accent;
	padding: 30px 0;

	.home-last {
		padding-bottom: 20px;
	}
}

.services {
	margin-bottom: 60px;
}

.service-name {
	text-transform: uppercase;
	font-weight: 500;
}