.navbar-inverse .navbar-nav {
    > li > a {
      color: #fff;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: $logo-accent;
        background-color: #222;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $logo-accent;
        background-color: #222;
      }
    }
  }