@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding-top: 70px;
}

#map-canvas {
	height: 250px;
	width: 100%;
}

footer {
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 50px;
	background-color: #333;
	color: #fff;
}
